= form_for @credit_rating do |f|
  - if @credit_rating.errors.any?
    #error_explanation
      %h2= "#{pluralize(@credit_rating.errors.count, "error")} prohibited this credit_rating from being saved:"
      %ul
        - @credit_rating.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :moodys_lt
    = f.text_field :moodys_lt
  .field
    = f.label :moodys_st
    = f.text_field :moodys_st
  .field
    = f.label :sp_lt
    = f.text_field :sp_lt
  .field
    = f.label :sp_st
    = f.text_field :sp_st
  .field
    = f.label :fitch_lt
    = f.text_field :fitch_lt
  .field
    = f.label :fitch_st
    = f.text_field :fitch_st
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
