%h1 Listing credit ratings
%table.table.table-condensed
  %tr
    %th{:rowspan => "2"} ID
    %th{:bgcolor => "#FBF0DB", :colspan => "2"} Moody's
    %th{:bgcolor => "#FBF0DB", :colspan => "2"} Standart and Poors
    %th{:bgcolor => "#FBF0DB", :colspan => "2"} Fitch
    %th{:bgcolor => "#FBF0DB", :rowspan => "2"} Name
    - if current_user.has_role? :admin
      %th{:bgcolor => "#FBF0DB", :rowspan => "2"} Actions
    
    %tr
      %td{:bgcolor => "#999"} Long Term
      %td{:bgcolor => "#999"} Short Term
      %td{:bgcolor => "#999"} Long Term
      %td{:bgcolor => "#999"} Short Term
      %td{:bgcolor => "#999"} Long Term
      %td{:bgcolor => "#999"} Short Term

  - @credit_ratings.each do |credit_rating|
    %tr
      %td= credit_rating.id
      %td= credit_rating.moodys_lt
      %td= credit_rating.moodys_st
      %td= credit_rating.sp_lt
      %td= credit_rating.sp_st
      %td= credit_rating.fitch_lt
      %td= credit_rating.fitch_st
      %td= credit_rating.name
      - if current_user.has_role? :admin
        %td
          = link_to 'Show', credit_rating
          |
          = link_to 'Edit', edit_credit_rating_path(credit_rating)
          |
          = link_to 'Destroy', credit_rating, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Credit rating', new_credit_rating_path