moodys_lt: #{@credit_rating.moodys_lt}, 
moodys_st: #{@credit_rating.moodys_st}, 
sp_lt: #{@credit_rating.sp_lt},
sp_st: #{@credit_rating.sp_st},
fitch_lt: #{@credit_rating.fitch_lt},
fitch_st: #{@credit_rating.fitch_st}