.modal-header
  %a.close{"data-dismiss" => "modal"} ×
  %h3 Credits Ratings
.modal-body
  %table.table.table-condensed#ratings-list
    %thead
      %th{:bgcolor => "#FBF0DB", :rowspan => "2"} Name
      %th{:bgcolor => "#FBF0DB", :colspan => "2"} Moody's
      %th{:bgcolor => "#FBF0DB", :colspan => "2"} Standart and Poors
      %th{:bgcolor => "#FBF0DB", :colspan => "2"} Fitch
      %tr
        %th{:bgcolor => "#999"} Long Term
        %th{:bgcolor => "#999"} Short Term
        %th{:bgcolor => "#999"} Long Term
        %th{:bgcolor => "#999"} Short Term
        %th{:bgcolor => "#999"} Long Term
        %th{:bgcolor => "#999"} Short Term

    %tbody
      - @credit_ratings.each do |credit_rating|
        %tr
          %td.js-name{data: {id: credit_rating.id}}= credit_rating.name
          %td.js-moodys-lt= credit_rating.moodys_lt
          %td.js-moodys-st= credit_rating.moodys_st
          %td.js-sp-lt= credit_rating.sp_lt
          %td.js-sp-st= credit_rating.sp_st
          %td.js-fitch-lt= credit_rating.fitch_lt
          %td.js-fitch-st= credit_rating.fitch_st