%h3 #{@user.name} Ratings

.control-group
  .controls
    .input-append
      %p= text_field_tag "", "", class: "js-test-field", :style => "width: 550px;"
      %p= text_field_tag "", "", class: "js-quantity-field", :style => "width: 550px;"
      %br
      %br
      %br
      %br
      %p= text_field_tag "", "", class: "js-field", :style => "width: 550px;"