%h3 Main rating page

%table.table.table-striped
  %tr
    %th ID
    %th Name
    %th Ratings set
   
  - @users.each do |user|
    %tr{data: {id: user.id}}
      %td= user.id
      %td= link_to user.name, user
      %td not yet rated