.content
  background-color: #eee
  padding: 20px
  margin: 0 -20px
  -webkit-border-radius: 0 0 6px 6px
  -moz-border-radius: 0 0 6px 6px
  border-radius: 0 0 6px 6px
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)

.navbar
  #auth
    float: right

#ratings-list
  tr
    background-color: white