.quantityPicker-bg
  display: none
  position: absolute

.quantityPicker-wrap
  height: auto
  display: none
  position: absolute
  padding: 12px
  background-color: white
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s
  border-radius: 3px
  border: 1px solid #ccc
  outline: 0 none

.quantityPicker-close
  z-index: 98
  display: block
  position: absolute
  top: -8px
  right: -8px
  height: 0
  width: 18px
  padding: 18px 0 0 0
  overflow: hidden
  background: #000000 none
  border: 2.04545454545455px solid #ffffff
  -moz-border-radius: 18px
  -webkit-border-radius: 18px
  border-radius: 18px
  box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3)
  -ms-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3)
  -moz-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3)
  color: #ffffff
  cursor: pointer
  -moz-user-select: none
  -webkit-user-select: none
  user-select: none

.quantityPicker-close:before 
  z-index: 99
  content: "\D7"
  display: block
  text-align: center
  width: 18px
  position: absolute
  top: -2px
  left: 0
  font-size: 18px
  line-height: 18px
  font-family: "Helvetica Neue", Consolas, Verdana, Tahoma, Calibri, Helvetica, Menlo, "Droid Sans", sans-serif

.qselector
  .qselector-condition
    width: 90px
    text-transform: capitalize
  .qselector-amount, .qselector-measurer, .qs-amount
    width: 65px
  .qs-second-option
    display: none
  .qs-no-input
    border: 1px solid red !important

.qselector-submit
  float: right