= link_to "Ratings", root_path, class: 'brand'
%ul.nav
  %li= link_to "Home", root_path
  %li= link_to "Users", users_path
  %li= link_to "Rating", credit_ratings_path

%ul.nav#auth
  - if user_signed_in?
    %li= link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li= link_to 'Admin', users_path
    %li= link_to 'Logout', destroy_user_session_path, :method => 'delete'
  - else
    %li= link_to 'Login', new_user_session_path
    %li= link_to 'Sign up', new_user_registration_path